.userHand {
  display: flex;
  justify-content: center;
  grid-area: userHand;
  margin-left: 63px;
  width: 973px;
  height: 133px;
  overflow: hidden;
  border: 3px solid #7a4407;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.514);;
}