.userDeck {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
  grid-area: userDeck;
  position: relative;
}

.enemyDeck {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: enemyDeck;
  position: relative;
}

.face {
  margin: 10px 0;
  width: 90px;
  cursor: default;
}

.number {
  position: absolute;
  left: 24px;
  bottom: 48px;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 196, 86);
  background-color: rgba(0, 0, 0, 0.637);
}