.item {
  margin: 1px;
  width: 100px;
  height: 110px;
}

.img {
  width: 72px;
  cursor: pointer;
}

.img:hover {
  border-radius: 7%;
  box-shadow: 0 0 0 2px rgb(250, 158, 9);
}

.plug {
  width: 72px;
  display: none;
}