.item {
  position: relative;
  height: 369px;
  margin: 0 5px;
  cursor: pointer;
}

.img {
  width: 196px;
  border-radius: 18px;
}

.img:hover {
  box-shadow: 0 0 0 3px rgb(250, 158, 9);
}

.power {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  user-select: none;
}

.heroPower {
  color: #fff;
}